html
  head
    title Add Person
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body.container-fluid(style='background:#C4D8E2')
    | Name: 
    input#title(type='text', maxlength='4', onkeyup='Allow()')
    | Address:
    input#addr(type='text', maxlength='4', onkeyup='Allow()')
    input.btn.btn-primary(type='submit', value='Add', onclick='insert()')
    #display
    script(type='text/javascript').
      var titles  = [];
      var addr = [];
      var titleInput  = document.getElementById("title");
      var addrInput = document.getElementById("addr");
      var messageBox  = document.getElementById("display");
      function Allow(){
      if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value !="") {
      if(!user.addr.value.match(/[a-zA-Z]$/) && user.addr.value !=""){
      user.title.value="";
      user.addr.value="";
      alert("Please Enter only alphabets");
      }
      }
      }
      function insert () {
      titles.push(titleInput.value);
      addr.push(addrInput.value);
      clearAndShow();
      }
      function clearAndShow () {
      titleInput.value = "";
      addrInput.value = "";
      messageBox.innerHTML = "";
      messageBox.innerHTML += "Details: "+ "<br/>" +"Name: "+ titles.join(" ,  ") + "</br>" +" Address:"+ +addr.join(" ,  ") +  " " + "<br/>";
      }
