html
  head
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous', <='', head='')
  body.container-fluid(style='background:#C4D8E2')
    form#signup(method='POST', action='/signup')
      lable(for='username') User Name
      input#username(type='text', name='username')
      lable(for='password') Password
      input#password(type='password', name='password')
      input.btn.btn-primary(type='submit', value='Sign UP')
  
